.search-button {
    margin: 20px 0 20px 0;
    font-size: 20px;
}

input {
    font-size: 20px;
    height: 30px;
    margin-bottom: 10px;
    border: 2px solid black;
}

.text {
    font-size: 20px;
}

.form-message {
    font-size: 20px;
    margin-bottom: 10px;
    border: 2px solid black;
}

.newtext {
    font-size: 20px;
}

.form-box {
    margin: 60px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 400px;
}